<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let category of categories">
        <td class="d-grid">
          <button type="button" class="btn border" (click)="changeParentCategory(category)">
                     {{ category.name }}
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-around">
    <div>
      <button class="position-relative" (click)="displayFirstPage()">&laquo;</button>
      <button class="position-relative" (click)="displayPreviousPage()"
              [disabled]="isNotPossibleToDisplayPreviousPage()">&lsaquo;</button>
    </div>
    <div>
      <p>Page {{currentPage + 1}} of {{pageCount}}</p>
    </div>
    <div>
      <button class="position-relative" (click)="displayNextPage()"
              [disabled]="isNotPossibleToDisplayNextPage()">&rsaquo;</button>
      <button class="position-relative" (click)="displayLastPage()">&raquo;</button>
    </div>
  </div>
</div>
